<div class="jumbotron text-center">
  <h1>Onion Articles</h1>

  <a href="/scrape"><button class="btn btn-primary">Scrape</button></a>
</div>

<div class="container">

{{#each entry}}
  <div class="row">
   <div>
    <div>{{this.headline}}</div>
      <div>
        <a href="{{this.link}}" target="_blank">{{this.link}}</a>
        
        <button type="button" class="btn btn-success writeCommentBtn" data-toggle="modal" data-target="#reviewModal" data-id="{{this._id}}">
        Comment</button>
      </div>
    </div>

</div>

{{/each}}

</div>